<a href="https://colab.research.google.com/github/anjalidutt/DataAnalytics_Microcredential/blob/assignment_12/knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/Classified%20Data', index_col=0)
df

          WTT       PTI       EQW  ...       HQE       NXJ  TARGET CLASS
0    0.913917  1.162073  0.567946  ...  0.879422  1.231409             1
1    0.635632  1.003722  0.535342  ...  0.621552  1.492702             0
2    0.721360  1.201493  0.921990  ...  0.957877  1.285597             0
3    1.234204  1.386726  0.653046  ...  1.522692  1.153093             1
4    1.279491  0.949750  0.627280  ...  1.463812  1.419167             1
..        ...       ...       ...  ...       ...       ...           ...
995  1.010953  1.034006  0.853116  ...  1.117340  1.348517             1
996  0.575529  0.955786  0.941835  ...  0.958684  1.663489             0
997  1.135470  0.982462  0.781905  ...  0.919191  1.385504             1
998  1.084894  0.861769  0.407158  ...  1.277456  1.188063             1
999  0.837460  0.961184  0.417006  ...  1.257190  1.364837             1

[1000 rows x 11 columns]

In [4]:
len(df)

1000

In [5]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop('TARGET CLASS', axis=1))
StandardScaler(copy=True,with_mean=True,with_std=True)
scaled_features=scaler.transform(df.drop('TARGET CLASS',axis=1))
df_feat=pd.DataFrame(scaled_features,columns=df.columns[:-1])
df_feat.head()

        WTT       PTI       EQW  ...       PJF       HQE       NXJ
0 -0.123542  0.185907 -0.913431  ... -1.482368 -0.949719 -0.643314
1 -1.084836 -0.430348 -1.025313  ... -0.202240 -1.828051  0.636759
2 -0.788702  0.339318  0.301511  ...  0.285707 -0.682494 -0.377850
3  0.982841  1.060193 -0.621399  ...  1.066491  1.241325 -1.026987
4  1.139275 -0.640392 -0.709819  ... -1.472352  1.040772  0.276510

[5 rows x 10 columns]